@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de cadastro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Sem serviço de envio de e-mail registrado. <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui e confirme sua conta.</a>
</p>
    }
    else
    {
<p>
    Verifique seu e-mail para confirmar seu cadastro.
</p>
    }
}
